---
title: User interviewing
---

<header class="project-header">
  <h2 class="project-intro">Tips and Tricks</h2>
  <h1 class="project-title">Optimizing your user interviews</h1>
  <hr>
  <div class="text-wrap">
    <p>
    I used to be intimidated by the idea of participating in, leading, and
    coordinating user interviews. I was sure that there was a very correct
    process for the whole thing that I'd mess up. Now that I've had more
    experience with interviews and the research process, I wanted to share some
    of the things I've learned from trial and error.
    </p>
    <p>
      It's not nearly as scary or unforgiving as I had imagined. You can be
      precise without trying to be too careful. And the more you do it the easier
      it gets. Hopefully a few of these tips help you get started leading your
      own interviews.
    </p>
  </div>
</header>

<div class="text-wrap">
  <h3>Interviewing Methods</h3>
  <h6>Quantitative vs. qualitative</h6>
  <p>
    Quantitative is good for understanding what, where, and when. Qualitative
    is good for understanding why and how.
  </p>
  <h6>In-person vs. survey</h6>
  <p>
    Surveys are great for finding a consensus. In-person interviews are great
    for understanding someone’s thought process, emotions, and environment.
  </p>
  <h6>Which method to use?</h6>
  <p>
    If you’re just starting out with your research, user-interviews can be
    great. It can act as a blunt tool. Surveys are more like a surgical knife.
    They're a great opportunity to ask more specific questions that produce
    answers smaller in scope.
  </p>

  <h3>Sourcing interviewees</h3>
  <p>
    <a href="http://intercom.io">Intercom</a> is excellent for finding segments
    of existing customers based on their behavior with your product or website.
  </p>
</div>

<div class="work-image"><img src="https://marketing.intercomassets.com/assets/_redesign/engage/breakdown/automated-customer-messages-98a21b61c74167b52254c82c5f91ff14f6439064300f66e764bc2eddfa293184.png"></div>

<div class="text-wrap">
  <p>
    If you need to interview people who aren't familiar with your product,
    personal acquaintances have been the most fruitful for me. I've had mixed
    experiences with services like Usertesting.com, validately.com, etc. I'm
    still experimenting, but in the past, the testers haven't been a great fit
    for what we were trying to learn.
  </p>

  <h3>Scheduling</h3>
  <h6>Calendly</h6>
  <p>
    <a href="calendly.com">Calendly</a> is a lifesaver for booking times on the
    calendar. It takes all of the work out of coordinating availability, time
    zone differences, and setting up the calendar invites.
  </p>
</div>

<div class="work-image"><img src="/images/writing/calendly.png"></div>

<div class="text-wrap">
  <p>
    Using a service like Calendly makes it easier on the interviewee to find a
    time most convenient for them and you don’t get caught trying to juggle
    a myriad of potential times you suggested to different people.
  </p>

  <h6>When not to schedule an interview</h6>
  <p>
    After learning this the hard way, I now <em>always</em> leave 30min breaks
    between bookings (another feature of Calendly). This time is valuable for
    catching up on last minute notes you need to jot down or debrief with someone
    on what you learned from the interview.
  </p>
  <p>
    And if you're like me, you'll be ready for a few minutes to chill.
    Introversion is real.
  </p>
</div>

<div class="work-image"><img src="/images/writing/liz.gif"></div>

<div class="text-wrap">
  <p>
    Take my word for it, don't schedule interviews on Fridays. You probably
    won’t be in the mood after a long week of interviews and neither will your
    interviewee. Work days can be very lax/fluid on Fridays. Having a time
    constraint is just kind of a bummer.
  </p>

  <h6>How to be prepared</h6>
  <p>
    Know how many people you need to interview and be sure to schedule a few
    more interviews than you need. People are busy and schedules can be chaotic;
    some people will inevitably have to cancel last minute.
  </p>
  <p>
    Send reminder emails the morning of the interview. While an extra email
    might be annoying, it decreases the risk that they’ll forget about the
    interview or confuse the start time. People have busy lives it happens!
  </p>
  <p>
    Record who you’ve reached out to (Intercom has a nice "last contacted"
    filter). I'm a fan of Trello. I keep a trello board of the interview roster
    which helps me easily keep track of what's up next and what has been
    completed.
  </p>
</div>
<div class="work-image"><img src="/images/writing/trello.png"></div>
<div class="text-wrap">
  <p>
    Interview in pairs if possible. One person acts as the conversation lead
    which allows them to focus on what the interviewee is saying and where to
    dig in further with more specific questions.
  </p>
  <p>
    The second person acts as the note taker. They are focused on recording
    what the interviewee is saying. This means they can take the time to record
    more than just the words being said but also the emotions expressed, how
    long it took the interviewee to recall certain information, etc.
  </p>

  <h3>Background research</h3>
  <p>
    Research some biographical information about the person you're about to
    speak with. I ususally start by collecting the basics: photo, name, what
    they do, where the live, etc. Twitter is always good for that. With that
    info, you're armed with some info to be casual and friendly if you need
    something to get the convo started!
  </p>
  <p>
    It's also important to collect their most recent usage of your product.
    <a href="http://www.salesforce.com">Salesforce</a> with
    <a href="https://clearbit.com/salesforce">Clearbit</a>
    integrated is a quick stop for this. You can get an overview of any
    conversations/emails they’ve exchanged with your sales tea and support team.
  </p>

  <h3>Good conversation</h3>

  <h6>Like having a beer</h6>
  <p>
   A lot of the interview will come down to just having some good conversation.
   Don't worry about trying to get all the answers you need. Just be casual and
   be yourself. The interview should be fun! I always imagine the tone of the
   conversation being similar to grabbing coffee or beer with a friend.
  </p>
</div>

<div class="work-image"><img src="/images/writing/daria.gif"></div>

<div class="text-wrap">

  <h6>Leave the awkward silence</h6>
  <p>
    Your job as the interviewer is to do more listening than talking. If you
    try to fill in the silence you might influence the interviewee's answer and
    disrupt their thinking. And for the interviewee, the silence really isn’t
    that awkward.
  </p>
  <p>
    Be sure not suggest answers to fill in the space or out of nervousness.
    Expand on a question or give examples if you are asked to. You might sway
    their answer.
  </p>

  <h6>Karma</h6>
  <p>
    Always take the last minute or two to ask how you can return the favor.
    Follow through on anything your promise to do in return! And of course,
    only promise things you know that you can follow through on.
  </p>
</div>
