---
title: Cedar Hill
---

<header class="project-header">
  <h2 class="project-intro">branding</h2>
  <h1 class="project-title">City of Cedar Hill</h1>
  <hr>
  <div class="text-wrap">
    <p>
      The challenge for this project was to make Segment easier to understand
      through the marketing site. We redesigned the site to give visitors a more
      clear idea of what the product does and how it might help them.
    </p>
  </div>
</header>

<div class="text-wrap">
  <p>
    The city is often referred to as &ldquo;the hill country of Dallas&rdquo;. It
    has vast areas of tree cover, a state park with camping grounds, and access
    to a one of the largest lakes in the region for boating and fishing.
  </p>
</div>

<figure><img src="/images/portfolio/chill/01.png"></figure>

<div class="text-wrap">
  <p>
    The subdued colors and overlapping geometric elements give the concept a
    modern feel that would appeal to young and old demographics alike.
  </p>
</div>

<figure>
  <img src="/images/portfolio/chill/02.png">
  <img src="/images/portfolio/chill/03.png">
  <img src="/images/portfolio/chill/04.png">
</figure>

<div class="text-wrap">
  <p>
    The visitor's guide contains information on local attractions which are
    mainly the dense tree cover in the city and other outdoors features.
  </p>
</div>

<figure><img src="/images/portfolio/chill/05.png"></figure>

<div class="text-wrap">
  <p>
    The city advertises in the Dallas Lovefield airport, whose abbreviation is
    &ldquo;LUV&rdquo;. We wanted to play on the abbreviation in our banner for
    travelers.
  </p>
</div>

<figure><img src="/images/portfolio/chill/06.png"></figure>
