---
title: Work | Segment Positioning
layout: project
---

<header class="project-header">
  <h2 class="project-intro">Research & Strategy</h2>
  <h1 class="project-title">Positioning Segment</h1>
  <hr>
<div class="text-wrap">
  <p>
    The challenge for this project was to figure out how to answer, "What is
    Segment?" without wanting to...
  </p>
<div class="work-image"><img src="/images/portfolio/segment-positioning/face-palm.gif"></div>
  <h4>Problems to solve for:</h4>
  <p>
    To be able to answer that question we needed to identify exactly why we
    were not already great at doing that.
  </p>
  <p>
    To dig into that problem and how it might be fixed, we interviewed a few
    people on our team, pulled from what we learned in <a href="#">Jobs to Be
    Done research</a>, and sifted through Zendesk tickets.
  </p>
  <p>
    We boiled it down to three specific problems we can take action on right now:
  </p>
  <ul class="bulleted-list">
    <li><p>We’ve been inconsistent in how we communicate the value of Segment.</p></li>
    <li><p>We’ve strayed from our target audience and, thus, set incorrect expectations of our product.</p></li>
    <li><p>Because of this, messaging has become a burden for all of our teams.</p></li>
  </ul>
</div>
</header>

<div class="text-wrap">
  <h4>Defining the target audience</h4>
  <p>
    The jobs-to-be-done research reaffirmed that Segment's best audience (for
    now) is a combination of someone with a somewhat technical skillset who is
    also business-minded. Segment's messaging will be most effective when it
    resonates with that audience.
  </p>
  <img src="/images/portfolio/segment-positioning/audience.png">
</div>

<div class="text-wrap">
  <h4>Refining the value propositions</h4>
  <p>
    We interviewed a few members of the team to see how we talk about Segment
    internally. Turns out… none of us really describe Segment in the same way!
    It was clear that we’re not fully aligned on what the core value
    propositions of the product are. To fix that, we referred to the “Push” and
    “Draw” forces that came from the customer interviews we did in the
    jobs-to-be-done research.
  </p>
</div>

<img src="/images/portfolio/segment-positioning/push-pull.png" style="margin: 2em auto">

<div class="text-wrap">
  <p>
    Those forces acted as a laundry list of the primary ways our customers are
    receiving value from Segment. We grouped those values by our customer cohorts
    (from customer jobs), common themes of the values, and made sure they lined
    up with our product vision.
  </p>
</div>

<div class="work-image"><img src="/images/portfolio/segment-positioning/approach.png"></div>

<div class="text-wrap">
  <p>
    We then consolidated the larger list into a grouping of four value
    propositions that are core to the focus of our product:
  </p>

  <ul class="bulleted-list">
    <li><p>Use one API for tracking data</p></li>
    <li><p>Send your data to many tools and databases</p></li>
    <li><p>Collect customer data from multiple sources</p></li>
    <li><p>Access and own your raw data</p></li>
  </ul>
  <img src="/images/portfolio/segment-positioning/value-props.png" style="margin: 2em auto">
</div>

<div class="text-wrap">
  <h4>Improving our messaging</h4>
  <p>
    We found a parallel between the general order in which customers experience
    the values of our product and the order in which they experience pain points
    using data.
  </p>
  <img src="/images/portfolio/segment-positioning/timeline.png" style="margin-bottom: 2em;">
  <p>
    As customers transition from  getting their feet wet with analytics all the
    way to asking more complex questions of their data and need access to their
    raw data, we can see how the resulting timeline helps us know how and when
    to communicate the right information to our customers. It also helps us
    anticipate what their next steps might be and how we can help them be
    successful.
  </p>
</div>
<div class="text-wrap">
  <h4>How Segment put this to use</h4>

  <h6>Product</h6>
  <img src="/images/portfolio/segment-positioning/tree.png" style="width: 30px">
  <p>
    The product team began to focus on increasing the quality of the very first
    value proposition we defined. This ensured that every new customer we
    brought in would have a great first impression of our brand, and existing
    customers would become more confident in the product they already love.
  </p>

  <h6>Sales</h6>
  <img src="/images/portfolio/segment-positioning/money-bag.png" style="width: 30px">
  <p>
    This research has helped the sales team speak from a more informed place
    when they're starting conversations with new leads. The timeline has been
    valuable for pinpointing where a prospect is on the timeline and having an
    educated idea of what the prospect's current problems, constraints, and
    technical knowledge are.
  </p>
  <p>
    For example, if they are early in the timeline, we can hint at the problems
    they might run into down the line, and bring focus to how we help them
    solve the those problems.
  </p>

  <h6>Growth and Success</h6>
  <img src="/images/portfolio/segment-positioning/hands.png" style="width: 40px">
  <p>
    We can ensure our customers have an excellent experience solving their
    problems at each stage. We can tailor our docs and help content to the
    customers at each stage of the timeline, and where appropriate, we can
    offer advice in support tickets that help customers advance to the next
    level.
  </p>

  <h6>Marketing</h6>
  <img src="/images/portfolio/segment-positioning/party-hat.png" style="width: 40px">
  <p>
    Segment's content strategy is to become the default resource for data
    analysis information, implementation, and best practices. This research
    helped us understand how to design the marketing site to speak to people
    both the in the early and late stages of the timeline.
  </p>
  <p>
    This research also validated some early learnings the team had about
    producing content that speaks to best practices for our industry, in
    general, rather than only producing content pertaining to best practices
    for the use of our product.
  </p>
</div>
