---
title: Segment Website
---

<header class="project-header">
  <h1 class="page-title">Segment home page</h1>
  <h2 class="page-intro">Improve messaging of website</h2>
  <div class="work-image"><img src="/images/portfolio/segment-site/segment-home.png"></div>
  <hr>
</header>

<div class="text-wrap">
<h3>The problem:</h3>
<h4>Visitors to our website leave with no idea what we do.</h4>
<p>
  The previous version of our site suffered from too much copy that used
  technical jargon. The messaging was difficult for even our technical audience
  to understand. The site would often have several CTA's on the same page but
  no clear point of conversion for visitors. Overall, the site had grown to be
  a bit cluttered, which created a weak message for the product.
</p>


<h3>The solution:</h3>
<p>INSERT HERE: Screenshots of desktop and mobile version of the site</p>
<p>INSERT HERE: Gif of site scroll through?</p>

<h3>Process:</h3>
<p>
  Review <a href="#">Jobs to Be Done research</a> for what motivates customers to
  use Segment and the vocabulary they use to talk about the jobs they use Segment
  for.
</p>

<p>
  Define the overall story we're telling on the home page.
</p>
<p>
  INSERT HERE: Sketches of value propositions, hero's journey, and structure iterations.
</p>
<p>
  Iterate on copy and illustrations to tell the story.
</p>
<p>
  INSERT HERE: Images of sketches, prototype cork board, and illustrations.
</p>
<p>
  Prototype the landing page and test on real people.
</p>
<p>
  INSERT HERE: Images of prototypes, Google hangouts?, graphics + funny quotes from interviews.
</p>
<p>
  With the feedback we received from testing our prototypes, we built a mockup of the home page.
</p>
<p>
  INSERT HERE: Image of mockup of home page.
</p>
<p>
  After flushing out some details in the mockup, I built the final version in HTML/CSS and pushed to production :shipit:
</p>
<p>
  INSERT HERE: Image of work setup? Link to live site 
</p>

<h6>Key takeaways from this project:</h6>
<ul class="bulleted-list">
  <li>
    Use vocabulary and language that your customers use.
  </li>
  <li>
    Keep the copy short and sweet. Visitors aren't likely to spend long reading
    the text on your site.
  </li>
  <li>
    Test comprehension of your graphics! Most of our early graphics were
    confusing and meaningless to people.
  </li>
  <li>
    Unless your product solves a well known problem (e.g. TurboTax for taxes),
    the way to make your product the most compelling is by contrasting the old
    way of doing things with the new way of doing things.
  </li>
  <li>
    A visitor doesn't need to understand everything about your product. They
    just need enough to understand and remember what your product is and how
    the could benefit from it.
  </li>
</ul>

<h6>Background research:</h6>
<p>
  In Nancy Duarte's <a href="https://www.youtube.com/watch?v=1nYFpuc2Umk">Tedx
    Talk</a> she describes her research into some of history's most compelling
  patterns of communication.
</p>

<p>
  This inspired us to the customer's life before Segment with the customer's life
  after Segment. You can see an example of that in this graphic:
</p>
<div class="work-image" style="background: white"><img src="/images/portfolio/segment-site/code-diff.svg"></div>
