---
title: Segment Setup Flow
---

<header class="project-header">
  <h2 class="project-intro">Product design</h2>
  <h1 class="project-title">Segment onboarding flow</h1>
  <hr>
<div class="text-wrap">
  <p>
    The objective for this project was to increase the activation rate of our
    customers. To do this, I needed to empathize with the user's objective to
    get Segment working on their app as quickly as possible without friction.
  </p>
  <h4>Problems to solve for:</h4>
  <ul class="bulleted-list">
    <li>
      <p>
        The existing setup flow was a single page without specific directions
        on what to do next. The user was presented with links to different
        areas in the app and all of the libraries that were built for the API,
        but no guidance on where to start digging in.
      </p>
    </li>
    <li>
      <p>
        Many users were choosing the wrong library to implement because of how
        we were presenting the libraries available on our platform. So from the
        beginning, they were encountering bugs and didn't see any success with
        the product.
      </p>
    </li>
  </ul>
</div>
</header>

<div class="text-wrap">
  <h4>Brainstorming possible workflows</h4>
  <p>
    The goal of the workflow is to help users quickly and accurately get
    Segment set up on their app. The secondary goal is to help the user
    experience success, even if they don't get Segment completely installed.
  </p>
  <p>
    The last thing we want is for the user to hit a roadblock, to feel that
    they've failed, or that they lack the technical knowledge to be successful
    with Segment.
  </p>
</div>

<ul class="work-image-gallery">
  <li class="work-image work-image-gallery-item" style="margin-right: 1.75em"><img src="/images/portfolio/segment-setup/flow1.png"></li>
  <li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-setup/flow2.png"></li>
  <li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-setup/start.png"></li>
</ul>

<div class="text-wrap">
  <p style="margin-top: 1em">
    I started by outlining where the user begins and where they want to end up.
    From there, I brainstormed as many workflows as possible to make sure we
    found the solution that helped users get to a place where they could
    experience success with the product as soon as possible.
  </p>
  <img src="/images/portfolio/segment-setup/flow-diagram.png" style="margin-top: 2em">
</div>

<div class="text-wrap">
  <h4>The end result</h4>
  <p>
    We created a final workflow that guides a user through a complicated set up
    with small wins at the completion of each step.
  </p>
</div>
<div class="work-image"><img src="/images/portfolio/segment-setup/setup.png"></div>
<div class="work-image"><img src="/images/portfolio/segment-setup/step1-2.png"></div>
<div class="work-image"><img src="/images/portfolio/segment-setup/step3.png"></div>

<div class="text-wrap">
  <h4>Takeaways</h4>
  <p>
    Referencing <a href="https://en.wikipedia.org/wiki/Flow_(psychology)">Flow</a>
    as a guideline for the emotions users need to experience during the set up
    process, I learned a few things that are important for users in all kinds
    of interactions:
  </p>
  <h6>Experiencing feedback</h6>
  <p>
    Providing immediate feedback after users make decisions or advance forward
    in the flow communicates if their decisions will help them achieve the
    outcome they want and provide a sense of accomplishment.
  </p>
  <h6>Feeling Confident in one's ability</h6>
  <p>
   It's important that the user experiences a balance between the challenge of
   the difficulty of the taks and their technical ability to complete the task.
  </p>
  <h6>Eliminate distractions</h6>
  <p>
    If the user is in a state of flow, obstacles and challenges that come up
    outside of the immediate flow feel easier to overcome.
  </p>
</div>
