---
title: Segment Positioning
---

<header class="project-header">
  <h2 class="project-intro">Research & Strategy</h2>
  <h1 class="project-title">Positioning Segment</h1>
  <hr>
<div class="text-wrap">
  <p>
    How do we answer, "What is Segment?"
  </p>
  <p>
    Without wanting to... >_<
  </p>
  <p>
    To be able to answer the question “What is Segment?” we needed to identify
    exactly why we’re not currently great at doing that.
  </p>
  <p>
    To dig into that problem and how it might be fixed, we interviewed a few people
    on our team, pulled from what we learned in customer jobs research, and did
    things like sifting through Zendesk tickets.
  </p>
  <p>
    We boiled it down to three specific problems we can take action on right now.
    Those problems are: [bullet points in slide].
  </p>
  <p>
    In this project, to address the lack of clarity around how to communicate the
    value of Segment, we put a finer point on our audience and refined our value
    propositions.  to address incorrect expectations, we’re going to start by doing
    things like providing a clearer message to our customers about how our
    integrations work and what our API is designed to do. Diana will talk more
    about that in a few minutes.  to address the burden of messaging, our goal is
    to improve our marketing site and other customer-facing communications so that
    Sales isn’t spending unnecessary time explaining the basic premise of Segment
    to leads and Success can focus more on helping customers be successful rather
    than addressing the misconceptions about how our product works.
  </p>
</div>
</header>

<div class="text-wrap">
  <h4>Problems to solve for:</h4>
  <ul class="bulleted-list">
    <li>
      <p>
        We’ve been inconsistent in how we communicate the value of Segment.
      </p>
    </li>
    <li>
      <p>
        We’ve set incorrect expectations of our product and strayed from our
        audience.
      </p>
    </li>
    <li>
      <p>
        Because of this, messaging has become a burden for all of our teams.
      </p>
    </li>
  </ul>
</div>
<div class="text-wrap">
  <p>
    So! As for our audience, we’ve reaffirmed that our messaging should resonate
    with people who are technical. And our best audience is technical and business
    minded. So for now, at least, we’re not going to make efforts to connect with a
    non-technical audience or people who are not in the field.
  </p>
</div>
<div class="work-image"><img src="/images/portfolio/segment-positioning/audience.png"></div>
<div class="text-wrap">
  <p>
    As for refining our value propositions: We interviewed a few members of the
    team to see how we talk about Segment internally. Turns out…  none of us really
    describe Segment in the same way :) It was clear that we’re not fully aligned
    on what the core value propositions of the product are. To fix that, we
    referred to the “Push” and “Pull” (or “Draw”) forces that came from the
    customer interviews we did a few weeks ago.
  </p>
</div>
<div class="work-image"><img src="/images/portfolio/segment-positioning/push-pull.png"></div>
<div class="text-wrap">
  <p>
    Those forces acted as a laundry list for the primary ways our customers are
    receiving value from Segment. We grouped those values by our customer cohorts
    (from customer jobs), common themes of the values, and made sure they lined
    up with our product vision.
  </p>
</div>
<div class="work-image"><img src="/images/portfolio/segment-positioning/approach.png"></div>
<div class="text-wrap">
  <p>
  We consolidated the larger list into a grouping of four value propositions
  that are core to the focus of our product.
  </p>

  <ul class="bulleted-list">
    <li>
    (You can) Use one API for tracking data
    </li>
    (We enable you to) Send your data to many tools and databases
    <li>
    (We also enable you to) Collect customer data from multiple sources
    </li>
    <li>
    (You can) Access and own your raw data
    </li>
  </ul>
</div>
<img src="/images/portfolio/segment-positioning/value-props.png">
<div class="text-wrap">
  <p>
    We found a parallel between the general order in which customers experience
    the values of our product and the order in which they experience pain points
    using data. As customers transition from the very beginning of getting their
    feet wet with analytics all the way to asking more complex questions of their
    data and need access to their raw data, we can see how the resulting timeline
    helps us know how to communicate the right information to our customers at
    the right time. It also helps us anticipate what their next steps might be
    and how we can help them be successful.
  </p>
</div>
<img src="/images/portfolio/segment-positioning/timeline.png">
<div class="work-image"><img src="/images/portfolio/segment-positioning/use.png"></div>
<div class="text-wrap">
  <p>
  For product, we have to think about how we we really nail the first value of
  using one API and sending data to multiple tools. If we don’t deliver on
  that, people won’t trust us to move up the chain. We also need to think of
  ways for people to discover the higher values and features as they “complete”
  or become experts in their current stage. 
  </p>
  <p>
  For sales, we can try to identify where a prospect is on the timeline, and
  sell them the value proposition that relates to the problem at hand. If they
  are low on the totem pole, we can hint at the values of Segment customers
  might run into down the line, but focus mostly on how we help them solve
  their current problem. Another thing we could do is try to pull in other
  members of the customer organization who might be able to better understand
  higher Stage values.
  </p>
  <p>
  For success, we can make sure our customers have an excellent experience
  solving their problems at each stage. We’ll be building help content that
  explains to them exactly how to do it, and where appropriate, we can offer
  advice in tickets to advance to the next level in.
  </p>
  <p>
  For marketing, we’ll be create content to speak to problems and offer
  solutions at each point of the timeline to attract new customers at different
  stages of their data maturity. Stay tuned for more on this with the new
  academy! We can also use this content in drip campaigns to help customers
  discover each new value and solve problems as they get deeper into using
  their data. We’ll be design the marketing site so it speaks to people both
  the in the early and late stages of knowledge, and using situations and
  problems to market pain points relevant features solve
  </p>
</div>
