---
title: Work | Segment Website
layout: project
---

<header class="project-header">
  <h1 class="project-title">Designing the Segment website and marketing message</h1>
  <p class="project-intro">
    The challenge for this project was to make Segment easier to understand
    through the marketing site. We redesigned the site to give visitors a more
    clear idea of what the product does and how it might help them.
  </p>
</header>
<img src="/images/portfolio/segment-site/hero.png" class="work-image">

<div class="text-wrap">
<h3>Understanding the problem</h3>
<ul class="bulleted-list">
  <li>
    <p>
      Most visitors to our marketing site couldn't get a sense of what Segment
      actually is or what the product does.
    </p>
  </li>
  <li>
    <p>
      Oursupport team and Sales team were spending too much time
      answering questions in support tickets and product demos that should've
      been easily answered by our marketing site.
    </p>
  </li>
  <li>
    <p>
      Communicating the value of Segment was getting derailed by technical
      jargon and a bit of graphic clutter.
    </p>
  </li>
</ul>

<h3>Research</h3>
<p>
  I referenced the <a href="#">Jobs to Be Done</a> research I performed to
  focus the message on exactly what a visitor to the site would needs to know
  about the product:
</p>

<ul class="bulleted-list">
  <li><p>Why someone would care about the product</p></li>
  <li><p>What job they hire the product to do</p></li>
  <li><p>How the product works to help you do that job</p></li>
</ul>

<img src="/images/portfolio/segment-site/jobs.png" style="margin: 2em auto; width: 600px">

<p>
  In Nancy Duarte's <a href="https://www.youtube.com/watch?v=1nYFpuc2Umk">Tedx Talk</a>
  she describes her research into some of history's most compelling patterns of
  communication. This idea inspired us to structure our story around the
  customer's life before Segment compared to the potential of the customer's
  life after Segment.
</p>
</div>

<div class="work-image"><img src="/images/portfolio/segment-site/old-v-new-whiteboard.png"></div>

<div class="text-wrap">
  <p>
    This idea influenced how we wrote the copy for the site and the
    illustrations we created. You can see an example of that method used in the
    graphic below, which we used on the final version of the site.
  </p>
</div>

<div class="work-image" style="background: white; border: 1px solid #CDCECD;"><img src="/images/portfolio/segment-site/code-diff.svg"></div>

<div class="text-wrap">
  <h3>Diverging and converging</h3>
  <p>
    I made use of brainmapping, rapid brainstorming, and sketching exercises to
    explore a wide range of possibilities for writing and illustrating the
    story of the job to be done.
  </p>
  <p>
    With feedback from my team, I narrowed down the options that were the most
    compelling and fit with our brand. With the general direction of the story
    defined, I repeated the process of iteration with copy and illustrations.
  </p>
</div>

<ul class="work-image-gallery">
<li class="work-image work-image-gallery-item" style="margin-right: 1.75em"><img src="/images/portfolio/segment-site/whiteboard-1.png"></li>
<li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-site/whiteboard-2.png"></li>
<li class="work-image work-image-gallery-item" style="margin-right: 1.75em"><img src="/images/portfolio/segment-site/hero-sketch.png"></li>
<li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-site/mountain-sketch.png"></li>
<li class="work-image work-image-gallery-item" style="margin-right: 1.75em"><img src="/images/portfolio/segment-site/splash.jpg"></li>
<li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-site/spaghetti.jpg"></li>
<li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-site/copy-iterations.png"></li>
</ul>

<div class="work-image"><img src="/images/portfolio/segment-site/paper-prototype.gif"></div>

<div class="text-wrap">
</div>

<div class="text-wrap">
  <h3>Testing and prototyping</h3>
  <p>
    I set up interviews with a few acquaintances and friends that fit into our
    target audience but aren't too familiar with Segment.
  </p>
  <p>
    In the interviews, I asked them to say their thoughts out loud while they
    were looking at the home page prototype. This helped me gauge the
    effectiveness of the copy, graphics, and overall structure of the message.
  </p>
</div>

<div class="work-image"><img src="/images/portfolio/segment-site/prototypes.png"></div>


<ul class="work-image-gallery">
<li class="work-image work-image-gallery-item" style="margin-right: 1.75em"><img src="/images/portfolio/segment-site/google-hangout-2.png"></li>
<li class="work-image work-image-gallery-item"><img src="/images/portfolio/segment-site/google-hangout.png"></li>
</ul>


<div class="text-wrap">
<h3>The end result</h3>
<p>
  With the feedback we received from testing our prototypes, I built a mockup
  of the home page and built the final version in HTML/CSS.
</p>
<p>
  The Success team has reported an overall decrease in support tickets asking
  general questions about the product and the Sales team has helped contribute
  to and rally behind the value propositions we use to familiarize new
  customers with the product.
</p>
<p>
  See the full version live at <a href="http://segment.com">Segment.com</a>
</p>
</div>

<div class="work-image" style="border:1px solid rgba(0, 0, 0, 0.1); border-radius:4px; overflow:hidden;"><img src="/images/portfolio/segment-site/segment-home-full.png"></div>

<div class="text-wrap">
<h3>Takeaways</h3>
<h6>A visitor doesn't need to understand everything about the product.</h6>
<p>
  They
  just need enough to understand and remember what your product is and
  how the could benefit from it.
</p>
<h6>Keep the copy short and sweet.</h6>
<p>
  Visitors aren't likely to spend long reading
  the text on your site.
</p>
<h6>Talk like your customers.</h6>
<p>
  In your marketing copy, use vocabulary that your customers use. They'll
  easily understand and relate to your product.
</p>
<h6>Test the comprehension of your graphics!</h6>
<p>
  Most of our early graphics
  were clever by our standards but confusing to people outside of the
  company.
</p>
<h6>Contrast the old way with the new way.</h6>
<p>
  Contrasting the old way of doing things with the new way of doing
  things is a very quick and compelling way to communicate the value of
  something.
</p>
</div>
