---
title: Work | Defining the Customer
layout: project
---

<div class="header-image" style="background-image: url('/images/portfolio/jtbd/hero.png')"></div>
<header class="project-header">
  <h2 class="project-intro">Research & Strategy</h2>
  <h1 class="project-title">Defining the Customer</h1>
  <hr>
  <div class="text-wrap">
    <p>
      What people think they want and what they actually want are often not the
      same thing. To make something people want, it’s important to know what
      people think they want.
    </p>
    <p>
      <blockquote>
        <p>People do not want a quarter-inch drill, they want a quarter inch hole.”</p>
        <p class="cite"><cite>Theodore Levitt</cite></p>
      </blockquote>
    <p>
      People buy products and services to get jobs done. While products come and
      go, the underlying job-to-be-done does not go away. This notion is at the heart
      of jobs-to-be-done theory. The purpose of thinking about “jobs” is to force
      yourself to think about your customer’s current situation and what they are
      motivated to do, rather than think through the lens of existing products and
      solutions. A tool to do that is the “job statement”, which looks like:
    </p>
  </div>
</header>

<div class="work-image"><img src="/images/portfolio/jtbd/statement.png"></div>

<div class="text-wrap">
  <h4>The research process</h4>
  <p>
    A fellow designer and I conducted one-on-one interviews with 60 customers,
    a mix of self-service and business tiers. We hoped to learn the first
    thought that lead customers to decide our product was a something useful to
    them.
  </p>
  <p>
    We wanted to understand the context of our customers and the challenges they
    face in finding and using our product through the framework of
    <a href="http://www.elezea.com/2013/11/progress-making-forces/">forces</a>:
  </p>
  <ul class="bulleted-list">
    <li><p>The situations that pushed them to needing/wanting something like Segment.</p></li>
    <li><p>What drew customers to Segment.</p></li>
    <li><p>Habits that make it difficult to change to a new product or way of doing things.</p></li>
    <li><p>Anxieties that cause them to have a bad experience or hesitations with the product.</p></li>
  </ul>
</div>

<div class="work-image"><img src="/images/portfolio/segment-positioning/push-pull.png"></div>

<div class="text-wrap">
  <p>
    Understanding each of these quadrants for our customers helps us know exactly
    the job they are trying to do and how we might create solutions for them that
    they <em>actually</em> want.
  </p>
  <h4>How different jobs relate to each other</h4>
  <p>
    Jobs can have huge variety in granularity. Many smaller jobs collectively
    do a bigger job. For example, if you have a job of decorating your house,
    there are smaller jobs-to-be-done of hanging pictures, buying furniture,
    knocking down walls, etc.
  </p>
  <p>
    You can think of jobs as being nested, in a tree-like structure. Imagine
    each node representing a “job”. This is just an easy way to illustrate
    hierarchy and parent-child relationships. This keeps product planning
    focused on what the product is and is not, what should be built and what
    should not.
  </p>
  <p>
    If we use a tree to diagram the job of “chat” for Slack, you can see that
    Facebook, and Dropbox have a similar child job of chat or conversation, but if
    you follow that child to its parent, the purpose of each of those products are
    all very different.
  </p>
  <div class="work-image"><img src="/images/portfolio/jtbd/relationships.png"></div>
</div>

<div class="text-wrap">
  <h4>The role of the “parent” job</h4>
  <p>
    The parent job (or node) is the larger job that our product is fulfilling; the
    solution that people *actually *want. All child jobs are derived from the
    parent. Child jobs may seem very similar or almost the same across different
    parents, but if you understand the parent-child relationship, you can easily know
    how to stay focused on the parent job you ultimately want to succeed with.
  </p>
  <p>
    Child jobs are where smaller, more specific jobs like “send data to
    analytics tools” or “reduce Marketing team dependence on developer
    resources” are represented. These are the solutions people *think* they
    want. Any siblings within our parent job is a job for which Segment may
    want to build a solution.
  </p>
  <p>
    If we use a tree to diagram the job of “chat” for Slack, you can see that
    Facebook, and Dropbox have a similar child job of chat or conversation, but if
    you follow that child to its parent, the purpose of each of those products are
    very different.
  </p>
<div class="work-image"><img src="/images/portfolio/jtbd/parent-child.png"></div>
</div>

<div class="text-wrap">
  <h4>The role of the “gateway” job</h4>
  <p>
    Each of the “child” jobs have the potential to be what we call “gateways”.
    These are often the product people <em>think</em> they want.
  </p>
  <p>
    Since gateway jobs meet a more narrowly scoped and specific need, they are
    easier to identify with. It is the more tangible version of the problem to
    solve. Because of this, the gateway job can be critical to a potential customer
    or existing customer understanding that a product meets their need—it’s what
    initially draws them to Segment.
  </p>
  <h4>Segment’s parent job</h4>
  <p>
    Not surprisingly, every customer ultimately begins their journey toward
    Segment with the push of needing or wanting to make better decisions based
    on data.
  </p>
  <p>
    What I've called the “Segment job” is the product we believe people
    <em>actually</em> want.  Using the job-to-be-done statement syntax, the
    Segment job can be expressed as:
  </p>
  <blockquote>
    <p>
      When I want to set myself up to easily make decisions from data, I want to
      eliminate the friction of collecting my data, so I can use it in all the
      places I need it.”
    </p>
  </blockquote>
  <h4>Segment’s current gateway job</h4>
  <p>
    If the parent job is the product people actually want, the gateway job is
    the product people think they. Again, using the job-to-be-done statement
    syntax, the Gateway job can be expressed as:
  </p>
  <blockquote>
    <p>
      When I implement an analytics tool, and I realize there are barriers to
      implementing these tools, I want to make the implementation as simple as
      possible, so I can send data to analytics tools with ease.”
    </p>
  </blockquote>
  <p>
    The gateway job is where many (not all) of our customers come to know about
    Segment. It is their <a href="https://en.wikipedia.org/wiki/Original_intent">original intent</a>
    and the job that needs to deliver them an excellent experience. Customers who
    have found Segment to successfully solve the problem of Gateway job typically
    go on to find value in Segment above and beyond that.
  </p>
  <p>
    The product has an opportunity to surprise and delight our customers when
    they can find more value in the product than they came for. These customers
    will find new ways to use the product within their teams to scale their
    usage of Segment with the needs of their organizations. When these
    customers are hired to new jobs they take Segment with them.
  </p>
  <h4>Customer Cohorts</h4>
  <p>
    Based on the parent job and the gateway job, I grouped our customers in
    to three cohorts:
  </p>
</div>

<div class="work-image"><img src="/images/portfolio/jtbd/cohorts.png"></div>
<div class="text-wrap">
  <h6>1 - Stays at Gateway job</h6>
  <p>
    These  customers come in to Segment through the gateway job but don’t seem to
    expand their use of Segment beyond connecting analytics tools. Their concern is
    mainly with ease of implementation.
  </p>
  <h6>2 - Gateway job to Parent job</h6>
  <p>
    A larger amount of customers start at the gateway job, discover other jobs they
    can accomplish with the product, and come to think about us differently than
    when they initially came in. They come to realize the product as the product
    they <em>actually</em> wanted, and not the product they thought they wanted.
  </p>
  <h6>3 - Straight to Parent job</h6>
  <p>
    Customers more familiar with data and analytics tend to view our product
    through the lens of the Segment job, rather than *only *the gateway job.
    They’re thinking about the future of their data infrastructure and want to make
    sure the choices they make now will scale with them in the future.
  </p>
  <h4>Jobs to guide decision making</h4>
  <p>
    With our jobs defined, the team has a better idea of the value propositions
    that appeal to our customers and when those value propositions become
    relevant to them. It's now easier to orchestrate efforts across our whole
    team to strategically grow the customer base and help those customers get
    the most value out of Segment.
  </p>
</div>
