---
title: Giant Robots
---

<header class="project-header">
  <h1 class="page-title">thougbot Blog</h1>
  <h2 class="page-intro">User-centered typography</h2>
</header>


<section class="project-content">
  <h6>Here's what I learned:</h6>
  <hr>
  <ul class="text-wrap">
    <li class="take-away-item">
      <h4>Text is an interface.</h4>
      <p>
        I wrote a <%= link_to 'blog post',
          'http://robots.thoughtbot.com/human-centered-type' %> about treating
          text as an interface and how that influenced this design.
      </p>
      <figure><img src="/images/portfolio/robots/blog-home.png" style="margin-left: -30px"></figure>
      <hr>
    </li>
    <li class="take-away-item">
      <h4>If you focus on providing value to people first, the rest will follow.</h4>
      <p>
        Optimizing for your content to be share-able and generate traffic isn't
        always the right place to start. Optimize for a great experience by
        supplying content people want and creating a good environment for them
        to read it in.
      </p>
      <figure><img src="/images/portfolio/robots/blog-post.png" style="margin-left: -30px"></figure>
      <hr>
    </li>
    <li class="take-away-item">
      <h4>The devil is in the details.</h4>
      <p>
        Every choice regarding scale, space, and color, matters when text is
        your interface. Nothing beats well-executed typography and composition.
      </p>
      <figure><img src="/images/portfolio/robots/blog-detail.png"></figure>
    </li>
  </ul>
</section>


