---
layout: "project"
title: Giant Robots
---

<header class="project-header">
  <h1 class="page-title">thougbot Blog</h1>
  <hr>
</header>


<section>
  <ul>
    <li class="take-away-item">
      <h3>Text is an interface.</h3>
      <p>
        I wrote a <%= link_to 'blog post',
          'http://robots.thoughtbot.com/human-centered-type' %> about treating
          text as an interface and how that influenced this design.
      </p>
      <figure><img src="/images/portfolio/robots/blog-home.png"></figure>
    </li>
    <li class="take-away-item">
      <h3>A user's experience is as important as the content.</h3>
      <p>
        Optimizing for your content to be share-able and generate traffic isn't
        always the right place to start. Optimize for a great experience by
        supplying content people want and creating a good environment for them
        to read it in..
      </p>
      <figure><img src="/images/portfolio/robots/blog-post.png"></figure>
    </li>
    <li class="take-away-item">
      <h3>The devil is in the details.</h3>
      <p>
        Every choice regarding scale, space, and color, matters when text is
        your interface. Nothing beats well-executed typography and composition.
      </p>
      <figure><img src="/images/portfolio/robots/blog-detail.png"></figure>
    </li>
  </ul>
</section>


