---
layout: "project"
title: Giant Robots
---

<h1 class="page-title">Giant Robots</h1>
<h2>Redesign of the thoughtbot Blog</h2>
<h6>September 2014</h6>

<hr>

<h3>Here's what I learned</h3>

<ul>
  <li>Text is an interface. Treat it with care!</li>
  <li>The experience of reading text can be just as important as the content.</li>
  <li>The devil is in the details. Every choice regarding scale, space, and color, matters when text is your interface.</li>
</ul>

<p>I wrote a blog post that is a more <%= link_to 'in-depth description',
  'http://robots.thoughtbot.com/human-centered-type' %> of how treating the
  text as an interface in our blog influenced the design.</p>

<figure><img src="/images/portfolio/robots/01.png"></figure>

<figure><img src="/images/portfolio/robots/03.png"></figure>
