.crop-circle {
  @include background-image(url("../images/cbonner_2014.jpg"));
  @include size(15em);
  background-position: 70% 100%;
  background-repeat: no-repeat;
  background-size: 159%;
  opacity: .9;
  overflow: hidden;
  border-radius: 50%;
  margin: $base-line-height auto;
}
