footer {
  @include pad(4.5em 0 0 0);
  background: white;
  padding: 3em 0;
  margin: 4em 0 0;
  min-height: $nav-height * 4;
}

.social-media {
  margin: 3em 0;

  li {
    display: inline-block;
    margin: 0 2em;

    i {
      @include transition(all .15s linear);
      color: darken($neutral, 15);
      font-size: 1.6em;

      &:hover {
        color: $brown;
      }
    }
  }
}
