body {
  visibility: hidden;
}

.index {
  background-image: linear-gradient(to bottom, rgba(87, 89, 103, .8) 0%, (rgba(61, 61, 41, .8)) 100%);
  border: 9px solid white;
  min-height: 825px;
  z-index: 1;
}

.index:after {
  background-image: url('../images/backpack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  min-height: 825px;
  left:0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.animate {
  animation-name: fade-in;
  visibility: visible;
}

main {
  @include outer-container;
  margin-top: 5em;
  text-align: center;
}

.wrap {
  @include pad(0 10%);
}

.col {
  @include span-columns(6);

  @include media($medium-screen) {
    @include span-columns (4);
  }
}

.projects {
  li {
    border-bottom: 1px solid $base-border-color;
    margin: 1em auto;
    padding: 2em 0;
    width: 52%;

    a {
      color: $base-font-color;
    }

    &:hover {
      @include transition(all .5s linear);
      border-color: darken($base-border-color, 10);

      h4 {
        background: white;

        &:before {
          @include transform(translateX(2px));
          opacity: 1;
        }
      }
    }
  }
}

.project-title {
  display: inline-block;
  padding: .2em 1.75em;
  position: relative;

  &:before {
    @include position(relative, 0 20px 0 nill);
    @include transition(all .2s linear);
    content: '\f105';
    font-family: $icon;
    opacity: 0;
    display: inline-block;
  }
}
