body {
  background: $base-body-color;
}

section {
  @include animation(fade-in 1s);
}

main {
  @include outer-container;
  margin-top: 5em;
  text-align: center;
}

.wrap {
  @include pad(0 10%);
}

.col {
  @include span-columns(6);

  @include media($medium-screen) {
    @include span-columns (4);
  }
}

.projects {
  li {
    border-bottom: 1px solid $base-border-color;
    margin: 1em auto;
    padding: 2em 0;
    width: 52%;

    a {
      color: $base-font-color;
    }

    &:hover {
      @include transition(all .5s linear);
      border-color: darken($base-border-color, 10);

      h4 {
        background: white;

        &:before {
          @include transform(translateX(2px));
          opacity: 1;
        }
      }
    }
  }
}

.project-title {
  display: inline-block;
  padding: .2em 1.75em;
  position: relative;

  &:before {
    @include position(relative, 0px 34px 0 0);
    @include transition(all .2s linear);
    // content: '\f105';
    font-family: $icon;
    opacity: 0;
    display: inline-block;
  }
}
