//Structure
section{
  @include outer-container;
}

header{
  background:$neutral-light;
  margin-bottom: 2em;
}

nav.primary {
  border-bottom: $base-border;
  height: $hd-ft-height;
    ul.inline{
      li {
        @include pad(.7em 1em);
          &:hover {
            border-bottom: 2px solid $secondary-a;
          }
      }
    }
}

//This seems hack-y. Got a question here for Monday!

ul.inline{
  li{
    @include inline-block;
  }
}

.single{
  @include span-columns(10);
  @include shift(1);
  @include pad(em(70) em(0));
    @include media($tablet){@include span-columns(4);}
    border-top: 4px double lighten($black, 70%);
      &:nth-of-type(1){border:none;}
}

.column{
  @include media($tablet-large){@include span-columns (4);}
  @include span-columns(5.8);
  // margin-bottom:em(80);
}

.project-thumb{
  @include media($tablet-large){
    @include span-columns (4);}
  @include span-columns(3.9);
  border:$base-border;
  margin-bottom:em(40);
    &:hover{
      background:rgba($neutral-light, .3);
      transition:.9s;}
    img{
      @include fill-parent;
      margin-bottom:em(8);}
}

.project-description{
  @include media($tablet-large){
    @include span-columns(4);
    @include shift(0);}
  @include media($mobile){
    @include pad(0);
  }
  @include span-columns(10);
  @include shift(1);
  @include pad(0 em(60) em(30));
  border-bottom: 4px double lighten($black, 70%);
  margin-bottom: em(80);
}

.project-gallery, {
  @include span-columns(10);
  @include shift(1);
  img{
    @include media($tablet-large){
      @include fill-parent;}
    width:em(650);}
    @include media($tablet-large){
      @include span-columns(4);
      @include shift(0);}
}

footer.global{
  background:$neutral-light;
  border-top:$base-border;
  height: $hd-ft-height;
  @include pad(.5em 1em);
}





