//Structure
section{
  @include outer-container;
}

header.global{
  background:$neutral-light;
  margin-bottom: 3.5em;
}

nav.primary {
  border-bottom: $base-border;
  height: $hd-ft-height;
    ul.inline{
      li {
        @include pad(.7em 1em);
          &:hover {
            border-bottom: 2px solid $secondary-a;
          }
      }
    }
}

//(?)Is it okay to utilize span-columns to center content on the page, since I use it or would it be better to use margin or padding for that?
.single {
  @include media($medium-screen) {
    @include span-columns(4);
  }

}

.column {
  @include span-columns(6);
  @include pad(0 default);
  margin: 1em 0;
  @include media($medium-screen) {
    @include span-columns (4);
  }
}

.project-thumb{
  @include span-columns(4);
  border:$base-border;
  margin-bottom:4em;
    &:hover {
      background:$neutral-light;
      transition:.9s;
    }
    img {
      @include fill-parent;
    }
  @include media($medium-screen) {
    @include span-columns (4);
  }
}

.project-description {
  @include span-columns(10);
  @include shift(1);
  @include pad(0 em(60) em(30));
}

.project-gallery, {
  @include span-columns(10);
  @include shift(1);
  img{
    @include media($medium-screen){
      @include fill-parent;}
    width:em(650);}
    @include media($medium-screen){
      @include span-columns(4);
      @include shift(0);}
}

footer.global {
  @include fill-parent;
  @include pad(2em 0 0 0);
  background:$neutral-light;
  border-top:$base-border;
  min-height: $hd-ft-height * 2;
  margin-top: 2em;
}
