//Structure
section {
  @include outer-container;
}

header.global {
  background:$neutral-light;
  margin-bottom: 3.5em;
}

nav.primary {
  border-bottom: $base-border;
  height: $global-element-height;
    
    ul.inline {
    
      li {
        @include pad(.7em 1em);
    
          &:hover {
            border-bottom: 2px solid $secondary-a;
          }
      }
    }
}

.col {
  @include span-columns(6);
  @include pad(0 default);
  margin: 1em 0;

  @include media($medium-screen) {
    @include span-columns (4);
  }

}

.thumbnail{
  @include span-columns(4);
  border: $base-border;
  margin-bottom: 4em;

    &:hover {
      background: $neutral-light;
      transition: .9s;
    }

    img {
      @include fill-parent;
    }

    p {
      margin: 0 0 1em 0;
    }

  @include media($medium-screen) {
    @include span-columns (4);
  }
}

footer.global {
  @include pad(4.5em 0 0 0);
  background: $neutral-light;
  border-top: $base-border;
  min-height: $global-element-height * 4;
  margin-top: 5em;
}
