@charset "utf-8";

//Typography

h1 {
  @include media($mobile){
    font-size:em(34);
    letter-spacing:em(-.4);
    line-height:em(20);}
  font-family:'Radley', Georgia, serif;
  font-weight:400;
  font-size:em(55);
  letter-spacing:em(-.3);
  margin:0 auto em(20) auto;
}

h3{
  @include media($mobile){
    font-size:em(34);}
  font-family:'Radley', Georgia, serif;
  font-weight:400;
  font-size:em(44);
  letter-spacing:em(0);
  line-height:em(21);
  margin:0;
}

h2{
  color:$secondary-a;
  font-weight:400;
  font-size:em(34);
  margin:0;
  text-transform: uppercase;
}

h4{
  color:darken($neutral-light, 20%);
  font-family:'News Cycle' sans-serif, helvetica;
  font-size:em(16);
  font-weight:300;
  letter-spacing:em(2);
  margin:em(14) auto em(4) auto;
  text-transform: uppercase;
}

h5{
  @include media($mobile){
    @include pad(default);
    font-size:em(16);}
  // @include pad(default em(80));
  color:darken($neutral-light, 50%);
  font-family:'Oxygen', helvetica, sans-serif;
  font-size:em(24);
  font-weight:300;
  letter-spacing:em(2);
  line-height:em(30);
  margin:0;
}

p{
  font-family:'Oxygen', helvetica, sans-serif;
  font-weight:300;
  font-size:em(16);
  letter-spacing:em(1);
  line-height:em(23);
}

a{
  text-decoration: none;
  color:rgba($secondary-a, 1);
  font-weight:700;
}

a.normal{color:$black;}

figure{
  margin:em(20) auto;
}

figcaption{
  @include media($tablet-large){
    @include fill-parent;}
  @include pad(default);
  background:lighten($neutral-light, 5%);
  border-top:1px solid darken($neutral-light, 4%);
  border-bottom:1px solid darken($neutral-light, 4%);
  margin:em(34) auto;
}

hr{
  border:0;
  height:1px;
  width:30%;
  background:darken($neutral-light, 20%);
  margin:em(40) auto;
}

ul{
  display:inline-block;
  list-style:circle;
  text-align:left;
}