ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  padding: 3em 0 1em;
}

@media (max-width: 700px) {
  .nav {
    text-align: left;
    padding-top: 0;
  }
}

.link-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-list li {
  flex-basis: 24%;
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 2.2em;
}

.bulleted-list {
  list-style: disc;
}

.numbered-list {
  list-style: decimal;
}

.bulleted-list,
.numbered-list {
  margin-left: 20px;
}

.bulleted-list li p,
.numbered-list li p {
  margin: 0;
}

.cool-list li,
.nav-link {
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
}

@media (max-width: 700px) {
  .cool-list li {
    display: block;
    border-top: 2px solid white;
    padding: .4em 0;
  }

  .cool-list li:last-of-type {
    border-bottom: 2px solid white;
  }
}

.cool-list li:after {
  content: '/';
  color: $light-gray;
  display: inline-block;
  margin: 0 1em;
}

@media (max-width: 700px) {
  .cool-list li:after {
    display: none;
   }
}

.cool-list li:last-of-type:after {
  content: '';
}
