// Typography

$mill: 'Sorts Mill Goudy', Georgia, serif;
$karla: 'Karla', sans-serif;
$serif: $mill;
$sans: $karla;
$icon: 'FontAwesome';

$base-font-family: $sans;
$header-font-family: $serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.9;
$base-border-radius: em(3);
$nav-height: 2.8em;

// Colors
$light-gray: #ABA8A0;
$brown: #8E6E28;
$red: #E03267;
$green: #30AB7F;
$blue: #0D81DA;
$neutral: #F0F0F0;
$black: #3F4A52;
$purple: #151424;

// Body Color
$base-body-color: $purple;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $brown;
$light-font-color: darken($neutral, 22);

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $blue;

// Border
$base-border:1px solid darken($neutral, 10%);
$base-border-color: $light-gray;
