ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slash {
  color: lighten($light-font-color, 10);
  letter-spacing: 2px;
  text-transform: uppercase;

  li {
    @include inline-block;
    margin-top: 1em;
    display: inline;
    vertical-align: middle;

    &:after {
      color: lighten($light-font-color, 8);
      content: ' / ';
      margin: 0 1.5em;
    }

    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
}
