body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  text-align: center;
}

h1, h2, h3, h4, h5, {
  font-family: $header-font-family;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.13; // 16 * 1.25 = 18px
}

h6 {
  font-size: $base-font-size/1.3;
  text-transform: uppercase;
  letter-spacing: $base-font-size / 10;
  color: darken($neutral-light, 20%);
  margin: 0;
}

p {
  font-size: $base-font-size / 1.2;
  letter-spacing: $base-font-size *.03;
  line-height: $base-line-height;
  margin: ($base-line-height * .5) 0;
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

.caps {
  text-transform: uppercase;
  letter-spacing: $base-font-size / 10;
}

.small-txt {
  font-size: $base-font-size / 1.95;
}

hr {
  border: none;
  height: 1px;
  width: 60%;
  background: darken($neutral-light, 20%);
  border-bottom: 1px solid $base-border-color;
  margin: $base-line-height auto;
}

hr.double {
  background:none;
  border-bottom: 4px double lighten($black, 70%);
  width: 100%;
  margin: $base-line-height auto;
}

img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  @extend h6;
  // border-left: 2px solid $base-border-color;
  // color: darken($neutral-light, 30%);
  margin: $base-line-height / 3 auto;
  padding-left: $base-line-height / 2;
  // font-size: $base-font-size / 2;
  font-weight: bold;
}

cite {
  // @extend h6;
  &:before {
    content: '\2014 \00A0';
  }
}

figure {
  margin: 0 auto;
  padding: 1em 0;
}

figcaption{
  @extend .small-txt;
  background:lighten($neutral-light, 5%);
  border-top: $base-border;
  border-bottom: $base-border;
  margin:3em auto;
  padding:$base-font-size / 2;
}

