//Variables
@import "neat/neat-helpers";

//$column: 90px;
//$gutter: 30px;
//$grid-columns: 12;
$max-width:90%;

// $gutter:golden-ratio(em(7), 1);


//breakpoints
$mobile: new-breakpoint(max-width 600px 4);
$tablet: new-breakpoint(max-width 800px 4);
$tablet-large:new-breakpoint(max-width 980px 4);