@charset "utf-8";

@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";
@import "neat/neat-helpers";
@import "normalize";

@import "partials/structure";

::selection, ::-moz-selection {
  background: rgba($secondary-c, 0.5);
}

.wrap {
  @include pad(0 2em);
}

.pow-ease {
  @include animation(pow 0.7s ease);
}

@include keyframes(pow) {
  from {
    @include transform(scale(0));
  }
  60% {
    @include transform(scale(0));
  }
  80% {
    @include transform(scale(1.03));
  }
  to {
    @include transform(scale(1));
  }
}

//Image Crop
.crop-circle {
  height:12em;
  width:12em;
  display: block;
  box-shadow: 0 0 0 3px darken($neutral-light, 10%);
  overflow: hidden;
  border: em(10) solid #fff;
  border-radius: 50%;
  margin: $base-line-height auto;
}

//Elements
form {
  input[type="text"],input[type="email"],input[type="tel"],input[type="url"],
  textarea, input {
    @include fill-parent;
    @include pad(em(8) 0);
    border: 0 0 1px solid darken($neutral-light, 4%) 0;
    margin:em(10) 0 0 0;
    font-size: em(16);
    letter-spacing:em(1);
    &:focus{
      border-bottom:1px solid $secondary-a;
  outline:none;}}
}

button {
  @include button (simple, $secondary-a);
  border-radius:8px;
  float:left;
  margin:em(30) 0;
}

figure{
  margin:em(20) auto;
}

figcaption{
  @include media($medium-screen){
    @include fill-parent;}
  @include pad(default);
  background:lighten($neutral-light, 5%);
  border-top:1px solid darken($neutral-light, 4%);
  border-bottom:1px solid darken($neutral-light, 4%);
  margin:em(34) auto;
}

//Sprites
.sprite-socialmedia {
  background-image:url(../../images/icons.png);
  display:inline-block;
  margin:em(0) em(8);
  vertical-align: middle;
  text-indent:-9999px;
  height:33px;
  width:33px;
  
  &:hover{
    opacity: .4;
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
  -o-transition:opacity 0.4s;}

}

.email{
  background-position:0 -33px;
}

.github{
  background-position:99px -33px;;
}

.twitter{
  background-position:-66px -33px;
}

.dribbble{
  background-position:-99px -33px;
}
