---
layout: "landing-pages"
---

<% wrap_layout :layout do %>
  <main class="wrap">
    <%= yield %>
    <section class="text-wrap">
      <hr>
      <a href="/work" class="nav-link">Back to work</a>
    </section>
  </main>
<% end %>
