---
layout: "project"
---

<% wrap_layout :layout do %>
  <main>
    <div class="wrap">
      <%= yield %>
    </div>
  </main>

  <footer>
    <div class="wrap">
      <hr>
      <a href="/work.html">Back to gallery</a>
    </div>
  </footer>
<% end %>
