---
layout: "project"
---
<%= stylesheet_link_tag "sass/all" %>
 <%= javascript_include_tag  "/all" %>


<html>
<head>
<title>Carolann Bonner | Project 1</title>
</head>

<body>

<% wrap_layout :layout do %>
 
  <section>
		<%= yield %>
		<hr class="double">
		<h6><a href="work.html">Back to gallery</a></h6>
  </section>

<% end %>

</html>
