---
layout: "project"
---

<% wrap_layout :layout do %>
  <%= partial "partials/nav" %>
  <section class="wrap">
    <%= yield %>
  </section>
  <section class="text-wrap">
    <hr>
    <a href="/" class="nav-link">home</a>
  </section>
  </main>
<% end %>
