.about .text-wrap {
  width: 55%;
}

.about h6 {
  margin: 2.5em 0 1em;
}

.about h3 {
}

.crop-circle {
  background-image: url("../images/carolann.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0;
  overflow: hidden;
  height: 11em;
  width: 11em;
}

.favorite-things {
  margin-bottom: 3em;
}

.favorite-things li {
  display: inline-block;
  font-size: $base-font-size * 1.2;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.favorite-things li:after {
  color: white;
  content: '/';
  display: inline-block;
  font-weight: 700;
  margin: 0 1.3em;
}

.favorite-things li:last-of-type:after {
  content: '';
}

.design-things-description {
  margin-top: 0;
}

.social-media {
  margin: 1em 0;
}

.social-media li {
  display: inline-block;
  margin: 0 1em;
}

.social-media i {
  color: $brown;
  font-size: 1.6em;
  transition: all .15s ease-in-out;
}

.social-media i:hover {
  color: $base-accent-color;
}
