body .about {
  background-color: $neutral;
}

.crop-circle {
  background-image: url("../images/carolann.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  border-radius: 50%;
  border: 5px solid rgba($purple, .5);
  margin: 0 auto;
  overflow: hidden;
  height: 13em;
  width: 13em;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.about .header {
  background-image: linear-gradient(to bottom, $purple 0%, $black 100%);
  color: $neutral;
  height: 525px;
  position: relative;
  z-index: 1;
  border-bottom: 9px solid white;
  margin-bottom: 3em;
  transform: translateZ(0);
}

.about .header .wrap {
  padding: 10em 0 0;
}

.about .text-wrap {
  width: 60%;
  text-align: left;
}


.about .header:after {
  background-image: url('../images/backpack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 525px;
  left:0;
  opacity: .1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.learned {
  background: url(../images/carolann.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 1000px; */
  transform: translateZ(-1px) scale(2);
}

.social-media {
  margin: 1em 0;
}

.social-media li {
  display: inline-block;
  margin: 0 1em;
}

.social-media i {
  color: $brown;
  font-size: 1.6em;
  transition: all .15s ease-in-out;
}

.social-media i:hover {
  color: $black;
}
