.projects main {
  margin-top: 4em;
}

.projects h2 {
  color: $blue;
}

.projects h6 {
  margin: 0;
}

.project-header {
  margin-bottom: 3.5em;
}

.take-away-item {
  margin-bottom: 2em;
  position: relative;
}

.take-away-item h3 {
  color: $brown;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .5em;
}

.take-away-item p {
  margin-top: 0;
}

.projects footer {
  margin: 5em auto;
  width: 70%;
}
