<footer class="global">
  <section>
    <ul class="inline caps small-txt">
      <li>
        <% link_to 'http://github.com/carolanncan' do %>
          <i class='fa fa-github'></i>
        <% end %>
      </li>

      <li>
        <% link_to 'http://twitter.com/carolanncan' do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </li>
      <li>
        <% link_to 'http://dribbble.com/carolanncan' do %>
          <i class='fa fa-dribbble'></i>
        <% end %>
      </li>
    </ul>
  </section>
</footer>
