<header class="global">
  <nav class="primary" id="cl-effect-3">
    <ul class="inline caps small-txt">
      <li>
        <%= magic_link_to 'Home', '../index.html'%>
      </li>
      <li>
        <%= magic_link_to "Projects", "../work.html"%>
      </li>
      <li>
        <%= magic_link_to "About Me", "../about.html"%>
      </li>
    </ul>
  </nav>
</header>
