<nav class="nav wrap">
  <ul class="cool-list">
    <li><%= link_to 'Projects', '../work'%></li>
    <li><%= link_to 'About Me', '../about'%></li>
    <li><%= link_to 'Home', '../index'%></li>
  </ul>
</nav>
