<nav class="nav wrap">
  <ul class="cool-list text-wrap">
    <li><%= link_to 'Work', '/work'%></li>
    <li><%= link_to 'About Me', '/about'%></li>
    <li><%= link_to 'Home', '/'%></li>
  </ul>
</nav>
