<nav class="nav wrap">
  <header class="site-header">
    <h1 class="site-title">cbnnr</h1>
    <p class="site-description">
      Serious designing, serious drawing, serious thinking, I'm pretty serious
      everything.
    </p>
  </header>
  <ul class="nav-list">
    <li class="nav-link"><%= link_to 'Home', '/'%></li>
    <li class="nav-link"><%= link_to 'About', '/about'%></li>
    <li class="nav-link"><%= link_to 'Writing', '/writing'%></li>
  </ul>
</nav>
