---
title: User interviewing
---

<header class="project-header">
  <h2 class="project-intro">Tips and Tricks</h2>
  <h1 class="project-title">Optimizing your user interviews</h1>
  <hr>
</header>

<div class="text-wrap">
  <h3>Interviewing Methods</h3>
  <p>
    1. Quantitative vs. qualitative
      a. Quantitative is good for understanding what, where, and when.
      b. Qualitative is good for understanding why and how.
    2. In-person vs survey
      a. Surveys are great for finding a consensus
      b. In-person interviews are great for understanding someone’s thought process, emotions, holistic workflow for getting something done, the world going on around them, etc.
      c. How to know which method to use?
        i. If there are a lot of things you don’t know and you’re just starting out with your research, user-interviews can be great. It can be more of a blunt tool.
        ii. Surveys are more like a surgical knife. You have things narrowed down to the point that you can learn from multiple choice options or yes/no answers.
  </p>



  <h3>Coordinating the interviews</h3>
  <p>
    1. Sourcing interviewees
      a. Intercom
        i. Excellent for finding segments of existing customers based on their behavior with your product or website.
      b. Personal acquaintances
        i. Has been great for us when we need to do an in-person interview but need people who aren’t familiar with our product.
        ii. Be extra nice to them!
        iii. Depending on the urgency of your research, make it super easy for them to say “yes” to the interview, but also kind of easy to say “no".
      c. Usertesting.com, validately.com, etc.
        i. Mixed experiences with these services.
        ii. Still experimenting to find the right situation in which to leverage these services.
    2. Scheduling
      a. Calendly for booking times on the calendar ❤
        i. Coordinating times, time zone differences, etc.
        ii. Makes it easier on the interviewee to find a time most convenient for them
        iii. You don’t get caught trying to juggle a bunch of potential times you suggested to different people
        iv. Sanity. You’re not making each calendar event by hand!
      b. 30min breaks between bookings
        i. Time to catch up on last minute notes you didn’t have a chance to right down
        ii. Debrief with someone to summarize thoughts
        iii. Chill out time because introversion can be tiring.
      c. Try not to schedule interviews on Fridays.
        i. You probably won’t be in the mood after a long week of interviews and neither will your interviewee. 
        ii. Work days can be very lax/fluid on Fridays. Having a time constraint is just kind of a bummer.
      d. Schedule a few more interviews than you need.
        i. People are busy and schedules can be chaotic; they might have to cancel last minute.
    3. Send reminder emails the morning of the interview.
      a. While an extra email might be annoying, it decreases the risk that they’ll forget about the interview or confuse the start time. People have busy lives it happens!
    4. Interview in pairs if possible
      a. 1 conversation lead
        i. can keep their attention on the interviewee which helps you be more personable
        ii. can focus on what the interviewee is saying and where to dig in further with more specific questions
      b. 1 note taker
        i. Focuses on recording what the interviewee is saying
        ii. Can also record new questions that the interviewer might think of that would be good to ask in subsequent interviews.
        iii. Can take the time to record more than just the words but the emotions expressed, how long it took the interviewee to recall certain information, etc.  
    5. Keep track of who you’ve reached out to
      a. Intercom “last contacted”
      b. trello
        i. show screenshot of trello board
      c. manage interview roster
      d. interviewee background info
    6. Send thank-you notes
      a. or tshirts or stickers or a pie!
  </p>

  <h3>Interview prep</h3>
  <p>
    1. Research some biographical information
      a. Photo, name, what they do, where the live
        i. Twitter!
      b. What they do at their company and what their company does
      c. Arms you with some info to be casual and friendly if you need something to get the convo started!
    2. Their most recent usage of your product
      a. Salesforce/clearbit
      b. Full story
      c. Any conversations/emails they’ve exchanged with your sales tea and support team
        i. Know the history of their relationship with your team and your product
      d. What pricing plan they’re on (so you know what kind of features they have access to)
  </p>



  <h3>Good conversation</h3>
  <p>
    1. Be casual. Be yourself.
      a. Should be fun!
      b. Tribe; like having a drink or coffee with a friend
    2. Examples of good vs bad questions
      a. **Good**: What kind of problems are you currently researching for your job or your company?
      b. **Meh**: What kind of content do you like?
    3. Leave the awkward silence
      a. More listening; less talking.
      b. If you try to fill in the silence you might influence their answer and disrupt their thinking.
      c. The silence really isn’t that awkward 😃
    4. Don’t suggest answers or examples unless you have to or are asked to. You might sway their answer.
    5. Ask how you can return the favor (karma)
      a. Follow through on anything your promise to do in return!
      b. Only promise things you *know* that you, personally, can follow through on.
  </p>
</div>
