// Typography

$mill: 'Sorts Mill Goudy', Georgia, serif;
$news-cycle: 'News Cycle', geneva, helvetica, sans-serif;
$lato: 'Lato', geneva, helvetica, sans-serif;
$serif: $mill;
$sans: $lato;
$icon: 'FontAwesome';

$base-font-family: $sans;
$header-font-family: $serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.9;
$base-border-radius: em(3);
$nav-height: 2.8em;

// Colors
$light-gray: #DDD;
$brown: rgba(199,122,0,1);

$neutral: #EFF1ED;
$black: rgba(61, 61, 41, 1);
$purple: rgba(87, 89, 103, 1);

// Body Color
$base-body-color: $purple;
$base-body-color: $purple;

//  Font Colors
// $base-font-color: $black;
$base-font-color: $black;
$base-accent-color: $brown;
$light-font-color: darken($neutral, 22);

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 5);

// Border
$base-border:1px solid darken($neutral, 10%);
$base-border-color: $light-gray;
