.articles .project-title,
.articles .project-intro {
  line-height: 1.5;
  text-align: center;
}

.articles .project-intro {
  font-family: $sans;
  text-transform: uppercase;
  font-size: .95em;
  letter-spacing: 1px;
}

.articles_index .text-wrap {
  margin: 0;
}

.articles h3 {
  margin-top: 1em;
}

.articles h4 {
  margin-top: 1em;
}

.articles h6,
.writing h6 {
  margin: 10px 0;
}
