.projects .project-title,
.projects .project-intro {
  line-height: 1.5;
  text-align: center;
}

.projects .project-intro {
  font-family: $sans;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 1px;
}

.project-header hr {
  margin: 1em auto 3em;
}

.projects header {
  margin: 5em 0 2em;
}

.projects h4 {
  margin-top: 2em;
}

.projects h6 {
  margin-bottom: 10px;
}

.projects .text-wrap {
  margin: 0 auto;
}
