.projects .nav {
  text-align: center;
}

.projects .project-title,
.projects .project-intro {
  line-height: 1.5;
  text-align: center;
}

.projects .project-intro {
  font-family: $sans;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 1px;
}

.project-header hr {
  margin: 1em auto 3em;
}

.projects header {
  margin: 5em 0 2em;
}

.projects h4 {
  margin-top: 2em;
}

.projects h6 {
  margin-bottom: 10px;
}

.projects .text-wrap {
  margin: 0 auto;
}

.project-link {
  background: $neutral;
  padding: 30px;
  height: 200px;
}

.project-link h4 {
  line-height: 1.3;
}

.project-link:hover {
  background-color: $blue;
  transition: all .2s linear;
}

.project-link:hover .project-link-title {
  color: white;
}

.project-link-title {
  font-family: $sans;
  font-size: 21px;
}

.project-intro {
  font-size: 1.5em;
  line-height: 1.5;
}

.project-summary {
  font-size: 1.5em;
}

