.work header {
  margin: 5em 0 2em;
}

.project-link {
  margin-left: -1em;
  padding: 1em;
  position: relative;
  transition: all .1s ease-in-out;
}

@media (max-width: 700px) {
  .project-link {
    max-height: 80px;
  }

  .project-subtitle {
    display: none;
  }
}

.project-link:hover {
  background: white;
}

.project-title {
  font-size: 2em;
}
