.work header {
  margin: 5em 0 1em;
}

.project-link {
  margin-bottom: 2.2em;
  position: relative;
  transition: all .1s ease-in-out;
}

.project-link h4 {
  line-height: 1.2;
}

@media (max-width: 700px) {
  .project-link {
    max-height: 80px;
  }

  .project-subtitle {
    display: none;
  }
}

.work-image {
  border-radius: 1px;
  border: 4px solid white;
  box-shadow: 0px 0px 3px 1px rgba(161, 161, 161, 0.33);
  margin: 40px 0;
  overflow: hidden;
}

.work-image-gallery {
  align-items: flex-start;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-image-gallery-item {
  border-radius: 4px;
  flex-basis: 40%;
  flex-grow: 1;
  margin: 1em 0;
  min-width: 25%;
}

.bulleted-list {
  list-style: disc;
  margin-left: 20px;
}

.bulleted-list li {
  margin-bottom: 10px;
}
