.work header {
  margin: 5em 0 2em;
}

.project-link {
  margin-left: -1em;
  padding: 1em;
  position: relative;
  transition: all .1s ease-in-out;
}

@media (max-width: 700px) {
  .project-link {
    max-height: 80px;
  }

  .project-subtitle {
    display: none;
  }
}

.project-title {
  font-size: 1.5em;
  line-height: 1;
}

.work-image {
  box-shadow: 0px 0px 3px 1px rgba(161,161,161,.5);
  border-radius: 4px;
  overflow: hidden;
  margin: 40px 0;
}

.bulleted-list {
  list-style: disc;
  margin-left: 20px;
}

.bulleted-list li {
  margin-bottom: 10px;
}
