.writing header {
  margin: 5em 0 1em;
}

.writing .project-title,
.writing .project-intro {
  line-height: 1.5;
  text-align: center;
}

.writing .project-intro {
  font-family: $sans;
  text-transform: uppercase;
  font-size: .95em;
  letter-spacing: 1px;
}

.writing header {
  margin: 5em 0 2em;
}

.writing .text-wrap {
  margin: 0 auto;
}

.writing_index .text-wrap {
  margin: 0;
}

.writing h3 {
  margin-top: 1em;
}

.writing h4 {
  margin-top: 1em;
}
