---
title: About Me
---
<div class="single">
	<h1>Designer</h1>
	<hr>
	<p>Deiter Rams said, that &ldquo;aesthetic decisions are justified by an understanding of the product’s purpose.&rdquo; My value as a designer is not my ability to tastefully stylize or visually represent an idea, it is my ability to think analytically and engineer solutions.</p>
</div>

<hr class="double">

<div class="column">
	<h5>Background</h5>
	<h6>HCK2 Partners</h6>
	<h6 class="small-txt">Senior Designer
	<br />2011-2013</h6>
	<hr>
	<p class="small-txt">Designs for web, information architecture, print pieces from concept to production, and logo and branding development.</p> 
</div>

<div class="column">
	<h5>Education</h5>
	<h6>University of North Texas</h6>
	<h6 class="small-txt">BA Interdisciplinary Art &amp; Design,
	<br />Marketing Minor</h6>
	<hr>
	<p class="small-txt">Studied design principles, studio art disciplines (primarily drawing), art and design history, brand management, advertising management, market research, and consumer behavior.</p>
</div>

<div class="column">
	<h5>Know-how</h5>
	<ul class="inline slash">
		<li class="slash">Design</li>
		<li class="slash">Adobe Creative Suite</li>
		<li class="slash">HTML &amp; CSS</li>
	</ul>
</div>

<div class="column">
	<h5>In training</h5>
	<ul class="inline slash">
		<li class="slash">Product Design</li>
		<li class="slash">SASS</li>
		<li class="slash">Javascript &amp; Jquery</li>
	</ul>
</div>

<hr class="double">

<div class="single">
	<h5>Personal Interests</h5>
	<h6>&ldquo;We love the things we love for what they are.&rdquo; ― Robert Frost</h6>
	<hr>
	<ul class="inline slash">
		<li>Typography</li>
		<li>History</li>
		<li>Letterpress</li>
		<li>Travel</li>
		<li>TCoffee</li>
		<li>TScience</li>
		<li>TFiction</li>
	</ul>
</div>