---
title: About Me
---

<header class="header">
  <div class="wrap">
  <h1>Carolann Bonner</h1>
  <h2>A few of my favorite things</h2>
  <ul class="slash">
    <li>Coffee</li>
    <li>Typography</li>
    <li>Science Fiction</li>
    <li>Jokes</li>
  </ul>
  </div>
</header>

<div class="wrap">
  <h2>What I've learned about design</h2>
  <hr class="double">
  <div class="text-wrap">
    <h3>Design is a team sport.</h3>
    <p>
      My role as a designer is not to have all the answers but to combine my
      expertise with the that of everyone around me.
    </p>
    <hr class="tiny">
    <h3>Start by asking questions.</h3>
    <p>
      Ask "why" as many times as you have to in order to get to the root of a
      problem or the true reason behind a decision.
    </p>
    <h3>Communication is really important.</h3>
    <p>
      Being able to explain the "why" behind a decision helps everyone around
      you contribute to the design process and work together toward the same
      goal.
    </p>
  </div>

  <hr >

  <blockquote class="small-txt">
    &ldquo;Each of us is phenomenal.&rdquo; &#8212;Angelou
  </blockquote>

  <ul class="social-media">
    <li>
      <% link_to 'http://github.com/carolanncan', class: 'social-link', network: 'github' do %>
        <i class='fa fa-github'></i>
      <% end %>
    </li>
    <li>
      <% link_to 'http://twitter.com/carolanncan', class: 'social-link', network: 'twitter' do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <% link_to 'http://dribbble.com/carolanncan', class: 'social-link', network: 'dribbble' do %>
        <i class='fa fa-dribbble'></i>
      <% end %>
    </li>
  </ul>
</div>
