---
title: About Me
layout: "pages"
---

<header>
  <h1 class="page-title">About me</h1>
  <p class="page-intro">
    I live in San Francisco with my husband, George. I was born and raised in
    Oklahoma. I grew up loving Bob Dylan, diversity, and other things you might
    not expect from the midwest. I love design and I love people. I don't think
    you can do one without the other.
  </p>

  <h6>Things I like</h6>
  <ul class="cool-list">
    <li>Hip-hop</li>
    <li>Design</li>
    <li>Science Fiction</li>
    <li>Vim</li>
    <li>Jokes</li>
  </ul>
</header>

<section class="design-things">
  <div class="text-wrap">
    <h6>What I've learned about design</h6>
    <h4>Design is a team sport.</h4>
    <p class="design-things-description">
      My role as a designer isn't to have all the answers but to combine my
      expertise with the that of everyone around me.
    </p>
    <hr>
    <h4>Start by asking questions.</h4>
    <p class="design-things-description">
      Ask "why" as many times as you have to in order to get to the root of a
      problem or the true reason behind a decision.
    </p>
    <hr>
    <h4>Communication is critical.</h4>
    <p class="design-things-description">
      Being able to explain the "why" behind a decision helps everyone around
      you contribute to the design process and work together toward the same
      goal.
    </p>
  </div>
</section>

<footer class="contact-info">
  <div class="text-wrap">
    <h6>Each of us is phenomenal. &#8212;Angelou</h6>

    <ul class="social-media">
      <li>
        <% link_to 'http://github.com/carolanncan', class: 'social-link', network: 'github' do %>
          <i class='fa fa-github'></i>
        <% end %>
      </li>
      <li>
        <% link_to 'http://twitter.com/carolanncan', class: 'social-link', network: 'twitter' do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </li>
      <li>
        <% link_to 'http://dribbble.com/carolanncan', class: 'social-link', network: 'dribbble' do %>
          <i class='fa fa-dribbble'></i>
        <% end %>
      </li>
      <li>
        <% link_to '../spotify.html', class: 'social-link', network: 'spotify' do %>
          <i class='fa fa-spotify'></i>
        <% end %>
      </li>
    </ul>
  </div>
</footer>

<script>
  var links = document.getElementsByClassName('social-link');

  analytics.trackLink(links, 'Clicked Social Link', function(link){
    return {
      network: link.getAttribute('network')
    };
  });
</script>
