---
title: About Me
---

<h1>About Me</h1>
<p class="wrap">
  I live in San Francisco with my husband, George. I was born and
  raised in Oklahoma. I grew up loving Bob Dylan,
  <a href="http://www.npr.org/people/2100380/neal-conan">Neal Conan</a>,
  diversity, and other things you might not expect from the midwest. I love
  design and I love people; I don't think you can do one without the other.
</p>

<hr class="double">

<h4>Things I Like</h4>
<ul class="h6 small-txt inline slash">
  <li>Coffee</li>
  <li>Typography</li>
  <li>Drawing</li>
  <li>Jokes</li>
  <li>Science</li>
</ul>

<p class="wrap">
  I like writing letters, getting to know new people, and drawing still lifes.
  I was a barista for several years. I love making coffee and participating in
  a local throw-down from time-to-time.
</p>

<hr>

<blockquote class="small-txt">
  &ldquo;We love the things we love for what they are.&rdquo; &#8212;Robert
  Frost
</blockquote>


<hr class="double">

<div class="col">
  <h5>Job</h5>
  <h6>Thoughtbot</h6>
  <h6 class="small-txt">
    Design Apprentice
    <br />2013 - present
  </h6>
</div>

<div class="col">
  <h5>Education</h5>
  <h6>University of North Texas</h6>
  <h6 class="small-txt">
    BA Interdisciplinary Art &amp; Design,
    <br />Marketing Minor
  </h6>
</div>
