---
title: About Me
---

<div class="wrap">
  <h1>About Me</h1>
  <h4>
    Product designer at Segment.
  </h4>

  <hr class="double">

  <h2>Things I Like</h2>
  <ul class="slash">
    <li>Coffee</li>
    <li>Typography</li>
    <li>Jokes</li>
    <li>Science Fiction</li>
  </ul>

  <hr>

  <blockquote class="small-txt">
    &ldquo;We love the things we love for what they are.&rdquo; &#8212;Robert
    Frost
  </blockquote>
</div>
