---
title: About Me
---
<div class="project-description">
	<h3>Designer</h3>
	<h4>Trained as a creator and problem-solver first, a visual communicator second.</h4>
	<hr>
	<p>I believe, as Deiter Rams said, that "aesthetic decisions are justified by an understanding of the product’s purpose." My value as a designer does not come from my ability to tastefully stylize or visually represent an idea.</p><p><strong>My value is my ability to think analytically and engineer solutions.</strong></p>
</div>

<div class="column">
	<h2>Background</h2>
	<h4>HCK2 Partners
	<br />Senior Designer, Dec. 2011 - Present</h4>
	<hr>
	<p>Interactive designs for web, information architecture, print pieces from concept to production, and logo and branding development.</p> 
</div>

<div class="column">
	<h2>Education</h2>
	<h4>University of North Texas</strong>
	<br />BA Interdisciplinary Art &amp; Design, Marketing Minor</h4>
	<hr>
	<p>Studied design principles, studio art disciplines (primarily drawing), art and design history, brand management, advertising management, market research, and consumer behavior.</p>
</div>

<div class="column">
	<h2>Software &amp; Know-how</h2>
	<ul>
		<li>Adobe Creative Suite</li>
		<li>HTML5/CSS3</li>
		<li>SASS</li>
		<li>Responsive</li>
		<li>Interface Design</li>
		<li>User Experience Design</li>
	</ul>
</div>

<div class="column">
	<h2>Currently Learning</h2>
	<ul>
		<li>Javascript &amp; Jquery</li>
		<li>De-bugging/testing</li>
		<li>Content Strategy</li>
	</ul>
</div>

<div class="single">
	<h2>Personal Interests</h2>
	<h4>“We love the things we love for what they are.” ― Robert Frost</h4>
	<hr>
	<p>Typography / History / Letterpress / Travel / Coffee / Science Fiction</p>
</div>