---
title: About Me
---

<h1>Designer</h1>

<blockquote class="small-txt">&ldquo;Aesthetic decisions are justified by an understanding of the product’s purpose.&rdquo; &#8212;Deiter Rams</blockquote>

<hr>

<p>I believe my value as a designer is not my ability to tastefully stylize or visually represent an idea, it is my ability to think analytically and engineer solutions.</p>

</div>

<hr class="double">

<div class="col">
	<h5>Background</h5>
	<h6>HCK2 Partners</h6>
	<h6 class="small-txt">Senior Designer
	<br />2011-2013</h6>

	<hr>

	<p class="small-txt">Designs for web, information architecture, print pieces from concept to production, and logo and branding development.</p> 
</div>

<div class="col">
	<h5>Education</h5>
	<h6>University of North Texas</h6>
	<h6 class="small-txt">BA Interdisciplinary Art &amp; Design,
	<br />Marketing Minor</h6>

	<hr>

	<p class="small-txt">Studied design principles, studio art disciplines (primarily drawing), art and design history, brand management, advertising management, market research, and consumer behavior.</p>
</div>

<div class="col">
	<h5>Know-how</h5>
		<ul class="inline slash">
			<li>Design</li>
			<li>Adobe Creative Suite</li>
			<li>HTML &amp; CSS</li>
		</ul>
</div>

<div class="col">

<h5>In training</h5>
<ul class="inline slash">
	<li>Product Design</li>
	<li>SASS</li>
	<li>Javascript &amp; Jquery</li>
</ul>

</div>

<hr class="double">

<h5>Personal Interests</h5>

<blockquote class="small-txt">&ldquo;We love the things we love for what they are.&rdquo; &#8212;Robert Frost</blockquote>

<hr>

<ul class="inline slash">
	<li>Typography</li>
	<li>History</li>
	<li>Letterpress</li>
	<li>Travel</li>
	<li>Coffee</li>
	<li>Science Fiction</li>
</ul>
