---
title: Home
layout: "pages"
---

<div class="crop-circle"></div>
<h1 class="site-title">Hi, I'm Carolann</h1>
<p class="site-description text-wrap">
  Serious designing, serious drawing, serious thinking, I'm pretty serious
  everything.
</p>
