---
title: Home
---

<div class="single">
	<h1>Serious designing, serious drawing, serious thinking, I'm pretty serious everything.</h1>
</div>
<div class="single">
	<!-- <img src="images/winn.jpg" alt="winnebego on the highway"> -->
	<h3>Hi, I'm Carolann.</h3>
	<p>I'm currently based out of Dallas, TX. Making a difficult task easy to accomplish is my favorite kind of project. I think I'm good at creating streamlined workflows and interfaces that are solicitous of the user. I care about making products that solve problems and empower people.</p>
</div><!--single-->

<div class="column">
	<h3>In a Nutshell</h3>
	<p>Born and raised in Oklahoma. I always loved drawing as a kid and continued in that pursuit throughout college. I studied design in school and am one of the lucky ones who gets to actually use their degree. My husband, George, and I married 4 years ago. He's the coolest guy I know. <em>We are  happy people!</em></p>
</div>

<div class="column">
	<h3>What I'm Doing Now</h3>
	<p>This month I've been working on preparing the first draft of the interface for an app. Getting close to the prototyping phase so we can get to user testing. Very excited for this part of the process.</p>
</div>