---
layout: "project"
title: Cedar Hill
---

<h1>City of Cedar Hill</h1>
<h5>Cedar Hill Identity Rebrand</h5>
<h6 class="small-txt">Concept</h6>

<hr>

<p>
  The city is often referred to as "the hill country of Dallas". It has vast
  areas of tree cover, a state park with camping grounds, and access to a one of
  the largest lakes in the region for boating and fishing.
</p>

<figure>
  <img src="images/portfolio/chill/01.png">
  <figcaption>
    <p>
      The subdued colors and overlapping geometric elements give the concept a modern
      feel that would appeal to young and old demographics alike.
    </p>
  </figcaption>
</figure>

<figure>
  <img src="images/portfolio/chill/02.png">
  <img src="images/portfolio/chill/03.png">
  <img src="images/portfolio/chill/04.png">
  <figcaption>
    <p>
      The visitor's guide contains information on local attractions which are
      mainly the dense tree cover in the city and other outdoors features.
    </p>
  </figcaption>
</figure>

<figure>
  <img src="images/portfolio/chill/05.png">
  <figcaption>
    <p>
      The city advertises in the Dallas Lovefield airport, whose abbreviation is
      "LUV". We wanted to play on the abbreviation in our banner for travelers.
    </p>
  </figcaption>
</figure>

<figure>
  <img src="images/portfolio/chill/06.png">
</figure>
