---
layout: "project"
title: Zeus
---
    <div class="project-description wrap">
	<h4>Zeus</h4>
	<h3>Measuring team workload in a friendly way!</h3>
	<hr>
	<p>In Greek mythology, Zeus was the god of the sky, the god of order, and the god of justice. With Zeus, you can easily set your own bandwidth, see who is available to assist on other projects or who is overloaded and needs help.</p>
</div>

<div class="project-gallery">
	<figure><img src="images/portfolio/zeus/01.png">
	</figure>
	<figure>
		<img src="images/portfolio/zeus/02.png"></figure>
		<figcaption><p>I created a <strong>custom logo and icon set</strong> to give the interface a little personality. I think possibly everyone on the web has created their own weather icon set by now. This set certainly isn't ground-breaking, but it's ours!</p>
		</figcaption>
	<figure>
		<img src="images/portfolio/zeus/03.png">
	</figure>
	<figure>
		<img src="images/portfolio/zeus/07.png"></figure>
		<figcaption><p>The user sets their bandwidth by using a slider and can type in optional notes for each day.</p></figcaption>		
	<figure>
	<figure>
		<img src="images/portfolio/zeus/04.png"></figure>
	<figure>
		<figcaption><p>This screen shows you a weekly forecast for the interactive team. You can see each team member's individual workload represented by their weather icon, and an aggregate icon of the whole team at the top of each day.</p></figcaption>
		</figure>
		<img src="images/portfolio/zeus/05.png"></figure>
	<figure>
		<figcaption><p>You can filter your availability results by user, team, client, or by skillset/capability of team members.</p></figcaption>
		</figure>

</div>