---
layout: "project"
title: Cedar Hill
---
<div class="project-description wrap">
	<h4>City of Cedar Hill</h4>
	<h3>Concept for rebrand. Includes print collateral and signage.</h3>
	<hr>
	<p>The city is often referred to as "the hill country of Dallas". It has vast areas of tree cover, a state park with camping grounds, and access to a one of the largest lakes in the region for boating and fishing.</p>
</div>

<div class="project-gallery">
	<figure>
		<img src="images/portfolio/chill/01.png">
		<figcaption><p>With the rich, subdued colors, and overlapping geometric elements, I wanted to give the brand a rustic but modern feel that would appeal to young and old demographics alike.</p></figcaption>
	</figure>
	<figure>
		<img src="images/portfolio/chill/02.png">
	</figure>
	<figure>
		<img src="images/portfolio/chill/03.png">
	</figure>
	<figure>
		<img src="images/portfolio/chill/04.png"></figure>
		<figcaption><p>The visitor's guide contains information on local attractions which are mainly the dense tree cover in the city and other outdoors features.</p></figcaption>
	<figure>
		<img src="images/portfolio/chill/05.png">
		<figcaption><p>The city advertises in the Dallas Lovefield airport, whose abbreviation is "LUV". We wanted to play on the abbreviation in our banner for travelers.</p></figcaption>
	</figure>
	<figure>
		<img src="images/portfolio/chill/06.png">
	</figure>
</div>