---
title: Zeus
---
<div class="relative">
	<div class="project-description">
		<h4>Zeus</h4>
		<h3>Measuring team workload in a friendly way!</h3>
		<p>In Greek mythology, Zeus was the god of the sky, the god of order, and the god of justice. With Zeus, you can easily set your own bandwidth, see who is not busy and available to help out on projects or who is overloaded and needs help.</p>
		<p>You're seeing our prototype as far as design goes, but all of the functional pieces are there. </p>
	</div>
</div>

<div class="project-gallery">
	<figure><img src="images/portfolio/zeus/01.png">
	</figure>
	<figure>
		<img src="images/portfolio/zeus/02.png"></figure>
		<figcaption>
		I created a <strong>custom logo and icon set</strong> to give the interface a little personality. I think everyone has created their own weather icon set by now. This set certainly isn't ground-breaking, but it's ours!
		</figcaption>
	<figure>
		<img src="images/portfolio/zeus/03.png"></figure>
	<figure>
		<img src="images/portfolio/zeus/04.png"></figure>
	<figure>
		<figcaption>This screen shows you a weekly forecast for the interactive team. You can see each team member's individual workload represented by the weather icon indicating how busy they are.
		</figure>
		<img src="images/portfolio/zeus/05.png"></figure>
	<figure>
		<figcaption>Here you can see our filtration system. You can filter by user, team, client, or by skillset/capability of a team member to see the availability of your selection.</figcaption>
		</figure>

</div>