---
title: My Discover Weekly
layout: "landing-pages"
---

<h1 class="page-title">I love Spotify</h1>
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotifydiscover%3Aplaylist%3A3AUdYz2gkrJ5ow6i8M63oe" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
