---
title: Discover Weekly
---

<header>
  <div class="text-wrap">
    <h1 class="page-title">Spotify Discover Weekly</h1>
  </div>
</header>

<div class="text-wrap">
  <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotifydiscover%3Aplaylist%3A3AUdYz2gkrJ5ow6i8M63oe" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
