---
layout: "project"
title: Giant Robots
---

<h1>Giant Robots</h1>
<h5>Redesign of the thoughtbot Blog</h5>
<h6>September 2014</h6>

<hr>

<p>Thoughtbot went through a small rebrand in 2014. We updated our brand
colors, logo, and typeface. We've also been making efforts to showcase our
design capabilities.</p>

<p>I wrote a blog post that is a more <%= link_to 'in-depth description',
  'http://robots.thoughtbot.com/human-centered-type' %> of how treating the
  text as an interface in our blog influenced the design.</p>

<figure>
  <img src="images/portfolio/robots/01.png">
</figure>
  <p>Above is a screenshot of the blog landing page after the redesign. Below
  you can see the before screenshot. One of the major goals of the redesign was
  to update the typography and make the blog an environment more conducive to
  reading.</p>
</figure>
  <img src="images/portfolio/robots/02.png">
</figure>
  <p>You can see in this before shot (above) that the design, while functional, had
  opportunities for improving information architecture and a little bit of
  visual polish.</p>
<figure>
  <img src="images/portfolio/robots/03.png">
</figure>
<p>I think the major improvements come to play in the articles, themselves.
Some of the changes are subtle but make a big difference. The line length was
shortened to reduce eye strain. The headings were given styles that allowed
them to be more distinct from each other. We now have a range of headings that
provide different emphasis, which reinforces the hierarchy of the article
content.</p>

<figure>
  <img src="images/portfolio/robots/04.png">
</figure>
<p>Before our redesign, you can see that the information is grouped and
organized, but it's a little difficult to know where my eye should go first.
Instead of using a two-column layout to separate the author information and
meta-info from the article, we consolidated this into a single-column layout
(see image below). This allows your eye to flow in a more familiar pattern,
top-down, to read the article.</p>
