---
title: Work
---

<header>
  <h1 class="page-title">My work</h1>
</header>
<ul class="link-list text-wrap">
  <% data.projects.project.each_with_index do |project, index| %>
    <li>
      <% link_to "/projects/" + project.link + ".html" do %>
        <div class="project-link">
          <h4><%= project.title %></h4>
          <p><%= project.subtitle %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
