---
title: Projects
---

<h1>Projects</h1>
<h5>Some of my favorites.</h5>

<hr>

<ul class="work">
  <li>
  <% link_to 'project2.html' do %>
    <h5>Laybull</h5>
    <p class="small-txt">Machine learning application</p>
    <i class="fa fa-angle-right"></i>
  <% end %>
  </li>

  <li>
  <% link_to 'project3.html' do %>
    <h5>Zeus</h5>
    <p class="small-txt">Team bandwidth management</p>
    <i class="fa fa-angle-right"></i>
  <% end %>
  </li>

  <li>
  <% link_to 'project1.html' do %>
    <h5>Cedar Hill</h5>
    <p class="small-txt">City rebrand</p>
    <i class="fa fa-angle-right"></i>
  <% end %>
  </li>
</ul>
