---
title: Projects
---

<header>
  <div class="text-wrap">
    <h1 class="page-title">My work</h1>
  </div>
</header>
<ul class="work-list text-wrap">
  <% data.projects.project.each_with_index do |project, index| %>
    <li>
      <% link_to "/projects/" + project.link + ".html" do %>
        <div class="project-link">
          <h2 class="project-title"><%= project.title %></h2>
          <p class="project-subtitle"><%= project.subtitle %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
