---
title: Projects
---

<h1>Projects</h1>

<hr class="double">

<ul class="projects">
  <% data.projects.project.each_with_index do |project, index| %>
    <li>
    <% link_to "/projects/" + project.link + ".html" do %>
        <h4 class="project-title"><%= project.title %></h4>
        <h6><%= project.subtitle %></h6>
      <% end %>
    </li>
  <% end %>
</ul>
