---
title: Projects
---

<main>
  <div class="wrap">
    <h1 class="page-title">Projects</h1>
    <ul class="work-list">
      <% data.projects.project.each_with_index do |project, index| %>
        <li>
          <% link_to "/projects/" + project.link + ".html" do %>
            <div class="project-link">
              <h2 class="project-title"><%= project.title %></h2>
              <p class="project-subtitle text-wrap"><%= project.subtitle %></p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</main>
