---
title: My Work
---

<div class="project-thumb">
	<a class="normal" href="project1.html">
		<img src="images/portfolio/thumb-chill.png">
		<div class="wrap">
			<h4>Cedar Hill</h4>
			<p>Rebrand of the city of Cedar Hill.</p>
		</div>
	</a>
</div>

<div class="project-thumb">
	<a class="normal" href="project2.html">
		<img src="images/portfolio/thumb-lbl.png">
		<div class="wrap">
			<h4>Laybull</h4>
			<p>Web app facilitating machine learning</p>
		</div>
	</a>
</div>

<div class="project-thumb">
	<a class="normal" href="project3.html">
		<img src="images/portfolio/thumb-zeus.png">
			<div class="wrap">
				<h4>Zeus</h4>
				<p>Web application tracking workloads for teams.</p>
		</div>
	</a>
</div>