---
title: Projects
---

<h1>Projects</h1>
<h5 class="pow-ease wrap">These are some of my favorite projects I've worked on.</h5>
<hr>

<div class="thumbnail">
	<a href="project1.html">
		<img src="images/portfolio/thumb-chill.png">
	</a>
	<h5>Cedar Hill</h5>
	<p>City rebrand</p>
</div>

<div class="thumbnail">
	<a href="project2.html">
		<img src="images/portfolio/thumb-lbl.png">
	</a>
	<h5>Laybull</h5>
	<p class="small-txt">Machine learning application</p>
</div>

<div class="thumbnail">
	<a class="normal" href="project3.html">
		<img src="images/portfolio/thumb-zeus.png">
	</a>
	<h5>Zeus</h5>
	<p class="small-txt">Team bandwidth management</p>
</div>