---
title: My Work
---

<div class="project-thumb">
	<a href="project1.html">
		<img src="images/portfolio/thumb-chill.png">
	</a>
	<h5>Cedar Hill</h5>
	<p class="small-txt wrap">City rebrand</p>
</div>

<div class="project-thumb">
	<a href="project2.html">
		<img src="images/portfolio/thumb-lbl.png">
	</a>
	<h5>Laybull</h5>
	<p class="small-txt wrap">Machine learning application</p>
</div>

<div class="project-thumb">
	<a class="normal" href="project3.html">
		<img src="images/portfolio/thumb-zeus.png">
	</a>
	<h5>Zeus</h5>
	<p class="small-txt wrap">Team bandwidth management</p>
</div>