---
title: My Work
---

<div class="project-thumb">
	<a href="project1.html">
		<img src="images/portfolio/thumb-chill.png">
	</a>
		<div class="wrap">
			<h3>Cedar Hill</h3>
			<p>Rebrand of the city of Cedar Hill.</p>
		</div>
</div>

<div class="project-thumb">
	<a class="normal" href="project2.html">
		<img src="images/portfolio/thumb-lbl.png">
		<div class="wrap">
			<h3>Laybull</h3>
			<p>Web app facilitating machine learning</p>
		</div>
	</a>
</div>

<div class="project-thumb">
	<a class="normal" href="project3.html">
		<img src="images/portfolio/thumb-zeus.png">
			<div class="wrap">
				<h3>Zeus</h3>
				<p>Web application tracking workloads for teams.</p>
		</div>
	</a>
</div>